<!DOCTYPE html>
<html lang="pt-BR" data-theme="<%= theme %>">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body>
        <div class="container">
            <img src="/icon/assets/menu.png" alt="menu icon" class="menu-icon">
            <a href="/toggle-theme" class="theme-toggle">
                <% if (theme === 'dark') { %>
                    <i class="fas fa-sun"></i> 
                <% } else { %>
                    <i class="fas fa-moon"></i>
                <% } %>
            </a>
        </div>
    </body>
</html> 